.default-arrow {
    border: none;
    background-color: transparent;
    position: relative;
    top: 65vh;
    z-index: 20;
}

@media only screen and (max-width: 600px) {
    .default-arrow {
        display: hidden;
    }
}
