@use '../.shared.scss' as *;

.primary-button {
    background-color: $primary-color;
    color: white;
    padding: 6px 6px;
    margin: auto;
    border-radius: 8px;
    font-weight: $bold-font;
    border-color: $primary-color-shade;
    font-family: sans-serif;
}
