@use '../.shared.scss' as *;
@import './navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.primary-button {
    background-color: $primary-color;
    color: white;
    padding: 8px 12px;
    margin: 12px auto;
    border-radius: $default-radius;
    font-family: 'Source-Sans-Pro', sans-serif;
    font-weight: $semibold-font;
    border-color: $primary-color-shade;
}

.arrow-button {
    border: none;
    background-color: transparent;
    position: relative;
    top: 60vh;
    z-index: 20;
}

@media only screen and (max-width: 600px) {
    .arrow-button {
        display: none;
    }
}

.search-bar-cancel-button {
    @extend .navbar-icon;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2px;
    align-items: center;
}

.menu-bar-cancel-button {
    @extend .navbar-icon;
    background-color: transparent;
    height: 30px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: 2px;
}
