@use '../.shared.scss' as *;

.default-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .default-card {
        min-width: calc(100vw - 40px);
    }
}

@media only screen and (min-width: 600px) {
    .default-card {
        width: calc(100% / $amount-of-features - 20px);
    }
}

.card-image {
    height: 100px;
    width: 80px;
    align-self: center;
}

.card-description {
    padding: 12px;
    align-self: center;
    margin-bottom: 0px;
}
