.logo {
    height: 49px;
    align-self: center;
    margin-top: 4px;
}

@media only screen and (min-width: 600px) {
    .logo-text {
        width: 190px;
    }
}

@media only screen and (max-width: 600px) {
    .logo-text {
        width: 49px;
    }
}
