@use '../.shared.scss' as *;

.default {
    height: 160px;
    width: 160px;
    margin: auto;
    margin-top: 0px;
    background-color: $placeholder-color;
    border-radius: 120px;
    margin-bottom: 12px;
}
