$primary-color: #85d4b4;
$primary-color-shade: #3aa67b;
$placeholder-color: #d1ada9;
$default-dark: rgba(
    $color: #000000,
    $alpha: 0.45,
);
$semibold-font: 550;
$amount-of-features: 3;
$default-radius: 12px;
