.app {
    text-align: center;
}

.hero {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .features {
        display: flex;
        flex-direction: column;
    }
}

.features {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 60px;
}
