.app {
    text-align: center;
}

.hero {
    position: relative;
    height: 100vh;
}

.features {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 24px;
}

@media only screen and (min-width: 600px) {
    .features {
        min-height: 350px;
    }
}

@media only screen and (max-width: 600px) {
    .features {
        flex-direction: column;
    }
}

.hero-image {
    background-color: rgba(#e6e184, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 600px) {
    .hero-image {
        min-width: 100vw;
        height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    .hero-image {
        height: 100%;
        min-width: 100vw;
    }
}
